* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}




body {
    font-family: "Pretendard Variable";
    font-size: 14px;
    line-height: 22px;
    color: #202123;
    min-width: 960px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* header */

#header_wrap {
    padding: 10px 0;    
    box-sizing: border-box;
    border-bottom: 1px solid #202123;
}

.header {
    margin: 0 auto;
    width: 1920px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;
}

.gnb_l {
    display: flex;
    justify-content: left;
    padding-left: 50px;
}

.gnb_r {
    display: flex;
    justify-content: right;
    padding-right: 50px;
}

.gnb_l li a {
    display: inline-block;
    padding: 0 20px;
}

.gnb_l li a:hover, .gnb_r li a:hover {
    color: #1e5dda;
}

.gnb_r li a {
    display: inline-block;
    padding: 0 20px;
}

.logo img {
    height: 30px;
}




/* contents */

#contents_wrap {
    margin: 0 auto;
    width: 1920px;
    display: flex;
    justify-content: space-between;
    
}

.image_box {
    width: 60%;
    border-right: 1px solid #202123;
    
    
}

.image_box img{
    width: 840px;
    padding-left: 312px;
}

.info_box_wrap {
    width: 40%;
    height: 530px;
    position: sticky;
    top: 0;
    padding: 40px;
    box-sizing: border-box;

}

.p_title {
    font-size: 18px;
}

.info_box h3 {
    margin-top: 10px;
    font-size: 12px;
}

.p_price {
    margin-top: 30px;
    font-size: 16px;
}

.p_option {
    margin-top: 30px;
    width: 485px;
    height: 30px;
    border: 1px solid #202123;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_box ul{
    margin-top: 10px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
 
}

.l_btn{
    border: 1px solid #202123;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.l_btn a{
    padding: 0px 80px;
}

.r_btn{
    border: 1px solid #202123;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #202123;
    color: #fff;
}

.r_btn a{
    padding: 0px 80px;
}

/* text_flow */


.text_flow_wrap{
    background-color: #202123;
    color: #fff;
    border-top: 1px solid #202123;
    border-bottom: 1px solid #202123;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_flow {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 800;
    padding: 30px 0;
   
}

@keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.text_flow p {
    animation: textLoop 10s linear infinite;
    padding-right: 100px;
}


/* footer */


#footer_wrap {
    background-color: #202123;
    color: #fff;   
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}


.footer{
    width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 18px;
    font-size: 12px;
    
}
.f_title {
    margin-bottom: 20px;
    font-size: 16px;
}

.footer_1 {
    width: 640px;
    text-align: left;
    border-right: 1px solid #fff;
    padding: 50px;
}

.footer_2{
    width: 640px;
    text-align: left;
    border-right: 1px solid #fff;
    padding: 50px;
}

.footer_3{
    width: 640px;
    text-align: left;
    padding: 50px;
}

.reserve {
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    background-color: #202123;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}